<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <springProfile name="dev">
        <include resource="org/springframework/boot/logging/logback/base.xml"/>
        <logger name="me.jinwook" level="INFO"/>
    </springProfile>
    <springProfile name="test">
        <include resource="org/springframework/boot/logging/logback/base.xml"/>
        <logger name="me.jinwook" level="DEBUG"/>
    </springProfile>
</configuration>
